### --- Bad practice 20: do not use a trusted registry
version: '3'
services:
  my_app:
    build:
      context: .
      dockerfile: Dockerfile
    image: esolang/evil # surrogate of "evil-registry.io/evil-image:latest"
    container_name: evil-container
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "80:80"
    volumes:
      - .:/app
    command: python /app/app.py
