### --- Best Practice 13: Run as a specific non-root user & Mount only the necessary directory --- ###

services:
  myservice:
    image: alpine:3.19.0
    user: "1001:1001"  
    volumes:
      - ./app:/usr/src/app  
    working_dir: /usr/src/app
    command: ["python", "app.py"]
### ----------------------------------------------------------------------------------------------- ###